@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100dvh;
}

.main-container {
  margin: 0 auto;
  max-width: 100dvw;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .global-spacing {
    @apply global-x-spacing global-y-spacing;
  }

  .global-y-spacing {
    @apply py-4 lg:py-10 fh:py-20;
  }

  .global-x-spacing {
    @apply px-4 lg:px-8 fh:px-20;
  }

  .heading-border {
    @apply border-b-2 border-wenge-800 pb-1;
  }
}
